{% extends 'base.html.twig' %}

{% block title %}New Fiche{% endblock %}

{% block body %}
    <h1>Create new Fiche</h1>

    {{ include('fiche/_form.html.twig') }}

    <a href="{{ path('app_fiche_index') }}">back to list</a>
{% endblock %}
